[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
authlib = "*"
python-dotenv = "*"
certifi = "*"
requests = "*"
redis = "*"
hvac = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
liccheck = "*"
licensecheck = "*"
wrapt = "*"

[requires]
python_version = "3.10"
