async-timeout==4.0.3
Authlib==1.6.4
blinker==1.6.3
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.0
click==8.1.7
cryptography==44.0.1
Flask==3.0.0
Flask-Login==0.6.2
Flask-WTF==1.2.1
hvac==1.2.1
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.6
MarkupSafe==2.1.3
pycparser==2.21
pyhcl==0.4.5
python-dotenv==1.0.0
redis==5.0.1
requests==2.32.4
urllib3==2.5.0
Werkzeug==3.0.6
WTForms==3.0.1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
